:root {

    --bg1:#5e584be5;
    --bg2:rgb(44, 42, 42);
    --body:rgb(95, 86, 86); 
    --brand: #F2B03B;
    --white:rgb(39, 35, 35);
    --p: rgb(161, 150, 150);  

}
#banner{
    min-height:100vh;
    background: linear-gradient( to right, hsla(0, 3%, 8%, 0.856) , #2c2a0004),
    url(https://wallpaperaccess.com/full/1861418.jpg);
    background-size: cover;
}

.navbar {
    background: linear-gradient(to bottom, hsla(50, 2%, 49%, 0.984) , rgba(145, 141, 135, 0.884));
}

.navbar .nav-link {
    color: #FFFFFF;
}

.navbar #navbarNav .nav-link.active {
    color: var(--brand) !important;
}

.navbar .nav-link:hover {
    color: var(--brand) !important;
}

.navbar-brand img {
    width: 20%;
}

.btn {
    padding: 15px 30px;
    transition: all 0.4s ease;
    font-weight: 800; 
    border-radius: 0;
}
.btn-brand {
    background-color: var(--brand);
}

.btn-brand:hover {
    background-color: transparent;
    color: white;
    border-color: var(--brand);
}

.btn-outline-brand {
    background-color: transparent;
    color:var(--brand);
    border-color: var(--bg1)
}

.btn-outline-brand:hover {
    background-color: var(--brand);
    color:var(--bg1)
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

 /*about*/
 #about {
    background: linear-gradient(to right, hsl(40, 77%, 42%) , rgb(78, 77, 75));
    position: relative;
    z-index: 1;
 }

 #services {
    background-color: #242627;
 }
 
 .icon-box-img {
    width: 40%;
 }

 .card {
    transition: background-color 0.3s, color 0.3s;
    min-height: 400px;
 }

 .card:hover {
    background-color: #5f6367;
 }

 .card:hover .card-title,
 .card:hover .card-text,
 .card:hover .btn {
    color: #f8f6f6;
 }

#cta {
    position: relative;
    opacity: 0.90;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient( to right, hsla(0, 3%, 8%, 0.856) , #ebeae104), url(https://wallpaperaccess.com/full/1861418.jpg);
    min-height: 70vh;
}
 
#reviews {
    background: linear-gradient(to top, hsl(40, 77%, 42%) , rgb(78, 77, 75));
}

a {
    text-decoration: none;
    color: #F2B03B;
}
 a:hover{
    color: white;
 }

.testimonials {
    padding: 30px;
    background-color: var(--bg1);
    border-radius: 1px;
}

.testimonials img {
    width: 65px;
    border-radius: 100px;
    height: 65px;
}

#reviews h6 a{
    text-decoration: none;
    color: var(--brand);
}

.faq-section {
    max-width: 800px;
    margin: auto;
}

.accordion-item {
    margin-bottom: 20px; /* Add margin bottom for spacing */
    border-radius: 0 !important;
}

.accordion-button {
    background-color: #6f828b;
    border: none;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #dae2eb;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.accordion-body {
    border-left: 3px solod var(--brand);
    padding: 10px 15px;
    margin-left: 0;
    background-color: #faf8f8;
}

.faq-answer p {
    margin-bottom: 0;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: rgb(61, 53, 53);
}

/* Hover effect for FAQ questions */
.accordion-button:hover {
    background-color: var(--brand); /*chnage background color on hover */
    color: var(--bg1); /* Chnage text color on hover */   
} 

/* Adjust accordion icon */
.accordion-button::after {
    font-family: "Font Awesome 5 Free";
    content: ""; /* Plus icon */
    float: right;
    font-weight: 900;
    margin-left: auto;
}

.accordion-button [aria-expanded="true"]::after{
    content: ""; /* Minus icon */
}

/* Footer */ 
#footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--bg1);
}

#footer ul.list-unstyled li a {
    color: #ffffff;
} 

#footer ul.list-unstyled li:hover a {
    color: #F2B03B;
}

#reviews h2, #services h2 {
    color: black;
}

.btn-outline-light {
    border-color: #F2B03B !important;
    color: #F2B03B;
}
 .navbar-brand-footer img {
    width: 30% !important;
 }

 #faq {
    background-color: #242627;
 }


 

 
